* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

body {
    background-image: linear-gradient(to top, #0c3483 0%, #38496c 100%, #6b8cce 100%, #a2b6df 100%);
    margin: 0 auto;
}

nav {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

nav img {
    margin: 45px 700px 0 0;
    width: 250px;
}

nav a {
    text-decoration: none;
    color:#bcb9b9;
    text-transform: uppercase;
}

nav a:hover {
    color: #7d7b7b;
}

#container {
    display: grid;
    margin-left: 15px;
    grid: repeat(3, 420px) / auto-flow 300px;
    gap: 20px;
    background: rgb(224, 224, 221);
    width: 75%;
    box-shadow: 2px 2px 5px 3px rgb(32, 31, 31);
    border-radius: 12px;
}

.brand {
    margin-bottom: 100px;
}

.brand__hidden {
    border-bottom: 2px solid #5d2510;
}

.card {
    width: 240px;
    height: 360px;
    margin: 30px 0 0 50px;
    border-radius: 12px;
    box-shadow: 0 8px 10px 6px rgb(46, 42, 42);
    background-color: rgb(100, 97, 97);
    transition: 700ms;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.3);
    box-shadow: 0 8px 10px 6px black;
}

.card img {
    width: 230px;
    margin: 5px 5px;
    text-align: center;
    border: 2px solid rgb(66, 63, 63);
    border-radius: 12px;
}


.card h2,
.card p {
    margin-left: 10px;
    color: rgb(64, 218, 218);
}

.card h2::first-letter {
    color: #e7e2e2;
}

aside {
    width: 100%;
    height: auto;
    border: 1px solid #bcb9b9;
    border-radius: 12px;
    color: #bcb9b9;
    margin: auto 60%;
    text-align: center;
}

aside section {
    margin-top: 30px;
}

#brand__line {
    margin-top: 30px;
    border-bottom: 2px solid #5d2510;
}

#pages {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
}

footer {
    text-align: center;
}

footer img {
    cursor: pointer;
    transform: rotate(90deg);
    width: 25px;
}

footer button a {
    display: flex;
    margin: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

footer button {
    margin: 100px auto 30px;
    border: 3px solid #5d2510;
    border-radius: 12px;
}

footer p {
    margin-bottom: 20px;
}