* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

body {
    background-image: linear-gradient(to top, #000 1%, #320404 70%, #311959);
    margin: 0 auto;
}

#home {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

#home .home-title {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #efe7e7;
    letter-spacing: 0.5cm;
    text-transform: uppercase;
    margin: 60px 450px 0 0;
}

#home a {
    margin-top: 65px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color:#cdcbcb;
    text-transform: uppercase;
    text-align: center;
}

#home a:hover {
    color: #7d7b7b;
}

#container {
    display: grid;
    grid: repeat(3, 450px) / auto-flow 300px;
    gap: 20px;
    margin-left: 15px;
    padding-left: 60px;
    background: #95958a;
    width: 75%;
    box-shadow: 2px 2px 5px 3px #201f1f;
    border-radius: 12px;
}

.brand {
    margin-bottom: 100px;
}

.brand-hidden {
    border-bottom: 2px solid #cdcbcb;
}

.card {
    width: 240px;
    height: 390px;
    margin: 30px 0 0 50px;
    border-radius: 12px;
    box-shadow: 0 8px 10px 6px #2e2a2a;
    background: linear-gradient(130deg, #b21010, #4c0707);
    transition: 700ms;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.3);
    box-shadow: 0 8px 10px 6px #000000;
}

.card img {
    width: 230px;
    margin: 5px 5px;
    text-align: center;
    border: 2px solid #423f3f;
    border-radius: 12px;
    filter: brightness(80%);
}

.card h2,
.card p {
    margin-left: 10px;
    color: #efe7e7;
}

.card h2 {
    font-size: 18px;
    border-bottom: 2px solid #efe7e7;
    margin-bottom: 20px;
}

.card-box {
    background-color: #3c3b3b66;
    margin: 5px;
    padding: 2px;
    border-radius: 12px;
    box-shadow: 
    0px 11px 7px rgba(0, 0, 0, 0.01), 
    0px 7px 7px rgba(0, 0, 0, 0.04),
    0px 4px 6px rgba(0, 0, 0, 0.1), 
    0px 2px 4px rgba(0, 0, 0, 0.26),
    0px 0px 2px rgba(0, 0, 0, 0.29), 
    inset 0px 2px 3px #e0b6b60f;
}

.card p {
    margin-top: 5px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.card span {
    color: transparent;
}

.aside {
    width: 100%;
    height: auto;
    border: 1px solid #bcb9b9;
    border-radius: 12px;
    background-color: #95958a;
    color: #efe7e7;
    margin: auto 40%;
    text-align: center;
}

.aside section {
    margin-top: 30px;
}

.aside-news .img-aside {
    margin-top: 30px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 4px 5px 3px #2e2a2a;
}

.aside-news h2 {
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #320404;
}

.aside i {
    color: #efe7e7;
    font-size: 14px;
}

.aside-news .btn-aside {
    border: none;
    border-radius: 20px;
    margin: 10px 0 70px 0;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(130deg, #b21010, #4c0707);
}

.aside-news .btn-aside:hover {
    transform: scale(1.1);
    transition: 600ms;
    background: linear-gradient(130deg, #4c0707, #b21010);
}

.aside a {
    color: #efe7e7;
    text-decoration: none;
}

#brand-line {
    margin-top: 30px;
    border-bottom: 2px solid #cdcbcb;
}

#pages {
    display: flex;
    flex-direction: column;
    color: #cdcbcb;
    gap: 100px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
}

#pages #about {
    padding: 0 20%;
}

#pages #about h2 {
    letter-spacing: 0.1cm;
    margin-bottom: 20px;
}

#pages #blog {
    padding: 0 10%;
}

#pages #blog h2 {
    letter-spacing: 0.1cm;
    margin-bottom: 20px;
}

#pages #blog .blog-article {
    text-transform: initial;
    text-align: justify;
    text-justify: initial;
}

#pages #blog .blog-article h3 {
    text-align: center;
    margin-bottom: 10px;
}

#pages #blog .blog-article h4 {
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
    text-justify: initial;
}

#pages #blog .blog-article .content-soon {
    margin-top: 35px;
}

#pages #social h2 {
    letter-spacing: 0.1cm;
}

.box-social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.btn-social {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.img-social {
    width: 32px;
}

footer {
    color: #cdcbcb;
    text-align: center;
}

footer img {
    cursor: pointer;
    transform: rotate(90deg);
    width: 25px;
}

footer button a {
    display: flex;
    margin: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

footer button {
    margin: 100px auto 30px;
    border: 3px solid #5d2510;
    border-radius: 12px;
}

footer p {
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    body {
        margin-left: 30px;
    }

    #home {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        list-style-type: none;
    }

    #home a {
        display: flex;
    }

    #container {
        display: flex;
        flex-direction: column;
        margin-top: 400px;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .aside {
        margin-left: 50px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #home {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-evenly;
        align-items: center;
    }

    #home .home-title {
        margin-right: 20px;
    }
    
    #container {
        display: grid;
        grid: repeat(5, 450px) / auto-flow 300px;
        gap: 20px;
    }

    .aside {
        margin: 30px 0 auto 50px;
    }

    #brand-line {
        margin-top: 380px;
    }
}